.darkMode {
    background-color: darken($darkGrey, 10);

    p {
        color: $white;
    }

    a,
    h1,
    h2,
    h3,
    h4 {
        color: $grey;
    }

    .advertisements,
    .propertyResume {
        background-color: $darkGrey;
        border: 1px solid $darkGrey;

        .price {
            color: $green;
        }

        .icon {
            filter: invert(100%);
        }
    }

    .aboutText blockquote {
        color: $white;
    }

    .form {

        label,
        legend,
        p {
            color: $grey;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $darkGrey;
            color: $white;
            border: 1px solid $darkGrey;
        }
    }
}