@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$principalFont: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$yellow: #E08709;;
$green: #71B100;
$white: #FFFFFF;
$grey: #e1e1e1;
$darkGrey: #333333;

$margin: 5rem;

// Fuentes
$slim: 300;
$regular : 400;
$bold: 700;
$blackFont: 900