@include tablet {
    .advertisementsContainer {
        @include grid(3, 2rem);
    }
}

.advertisements {
    background-color: lighten($grey, 5);
    border: 1px solid darken($darkGrey, 10);
    margin-bottom: 3rem;

    .advertisementsContent {
        padding: 2rem;
    }

    h3,
    p {
        margin: 0;
    }
}

.price {
    color: $green;
    font-weight: $bold;
    font-size: 3rem;
}

.characteristicsIcons {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;

        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }

        p {
            font-weight: $blackFont;
        }
    }
}

.propertyResume {
    padding: 2rem;
}