.form {
    p {
        font-size: 1.4rem;
        color: $darkGrey;
        margin: 2rem 0 0 0;
    }

    legend {
        font-size: 2rem;
        color: $darkGrey;
    }

    label {
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
    }

    input:not([type="submit"]),
    textarea,
    select {
        padding: 1rem;
        display:block;
        width: 100%;
        background-color: $white;
        border: 1px solid $grey;
        border-radius:1rem;
        margin-bottom: 2rem;
    } 

    textarea {
        height: 20rem;
    }

    .contactForm {
        max-width: 40rem;
        display: flex;
        justify-content:space-around;
        align-items:center;
    }

    input[type="radio"] {
        margin: 0;
        width: auto;
    }
}