@include tablet {
    .aboutIcons {
        @include grid (3, 2rem);
    }
}

.icon {
    text-align: center;

    img {
        height: 10rem;
    }

    h3 {
        text-transform: uppercase;
    }
}