@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globals';
@import 'base/utilities';
@import 'base/buttons';
@import 'base/darkMode';


@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/icons';
@import 'layout/advertisements';
@import 'layout/contact';
@import 'layout/lowerSection';
@import 'layout/testimonials';
@import 'layout/form';


@import 'layout/about';